{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./src/components",
          "lib": "./src/lib"
        },
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    ]
  ]
}
